body {
    background-color: lightgray !important; 
    overflow: hidden;     
}

.container-fluid {    
    justify-content: center !important;
    border: 1px solid black;   
}

.container {
    min-height: 100vh;
    background-color: lightgray !important;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.quizlogo {
    width: 75px;
}

.navbar {
    padding-left: 16px !important;
    padding-right: 16px !important;
    display: flex !important;
    background-color: rgb(29, 28, 87);
    height: auto;
    width: auto;
    border-bottom: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: row-reverse;     
}

p {    
    margin-bottom: 0 !important;
    color: white;    
}

p:hover {
    color: lightblue !important;
    border-bottom: 3px solid;
    transition: all 100ms;
    padding-bottom: 7px;
}

.navigation {
    display: flex;
    align-items: center;    
    gap: 20px;
    cursor: pointer;    
}

.quiz-card {
    width: 30rem;
    border-top: 0 !important; 
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger {
    color: white !important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

@media (max-width: 350px) {
    .navbar {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column-reverse;
    gap: 16px;
    
    }
}